<body>
  <div class="content_wrap">
    <h1 class="page_title">Antecedentes</h1>
  </div>
  <p>
    falta imagen
  </p>
  <p>
     Campaña para la prevención de adicciones en el municipio de Naucalpan.<br> En alianza con el municipio, UVM y Instituto de la Juventud.<br>
	   Resultado:Se impactarón a más de 10,000 jóvenes
  </p>
  <p>
    falta imagen
  </p>
  <p>
    Presentación a beneficio de BASAK, donación en especie.<br> (suéteres y chamarras para estudiantes de escasos recursos).<br>
  	Resultado: Se impactaron a más de 3,000 personas (digital y en la presentación)
  </p>
  <p>
    falta imagen
  </p>
  <p>
     Obra a beneficio de BASAK, el 1% de las entradas fue donado para seguir<br> apoyando a estudiantes detectados con foco rojo.<br>
	   Resultado: Se impactaron a más de 3,000 personas (visitantes a la obra)
  </p>
  <p>
    falta imagen
  </p>
  <p>
    campaña de radio con cobretura nacional.<br>
	  Resultado: alcance 100,000 personas (adjunto los spots para que aquí se escuchen)
  </p>
  <p>
  	Cápsulas informativas con TV Azteca (te mando en otro archive, dichas cápsulas para que aquí se coloquen)
  </p>
  <p>
    Gira TV Azteca #ViveSinDrogas
  </p>
  <p>
    Conferencias a más de 150,000 niños, adolescents y jóvenes
  </p>
</body>
