<body class="page-template-default page page-id-23 charity_is_hope_body body_style_wide top_style_header_1 body_filled article_style_stretch layout_single-standard template_single-standard top_panel_show top_panel_above sidebar_hide sidebar_outer_hide wpb-js-composer js-comp-ver-5.0 vc_responsive">
  <div class="top_panel_title top_panel_style_1  title_present scheme_light">
    <div class="top_panel_title_inner top_panel_inner_style_1  title_present_inner">
      <div class="content_wrap">
        <h1 class="page_title">
          Adquiere tu playera
        </h1>
      </div>
    </div>
  </div>
  <div class="page_content_wrap page_paddings_no">
    <div class="content_wrap">
      <div class="content">
        <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-23 page type-page status-publish hentry">
          <section class="post_content" itemprop="articleBody">
            <div class="vc_row wpd_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 1em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpd_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 1em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
    <div class="row" style="height: 20em">
      <div class="col-sm-6 bg-success" align="center">
        <div class="container-fluid center">
          <div class="card mt-3" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Internacional</h5>
              <p class="card-text">Los paquetes comprados desde el exterior de la republica mexicana</p>
              <a href="" class="btn btn-primary">Comprar aquí</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 bg-warning" align="center">
        <div class="container-fluid center">
          <div class="card mt-3" style="width: 30rem;">
            <img class="card-img-top" src="" alt="México">
            <div class="card-body">
              <h5 class="card-title">México</h5>
              <p class="card-text">Los paquetes comprados desde el interior de la republica mexicana</p>
              <a href="" class="btn btn-primary">Comprar aquí</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
