<body class="page-template-default page page-id-23 charity_is_hope_body body_style_wide top_style_header_1 body_filled article_style_stretch layout_single-standard template_single-standard top_panel_show top_panel_above sidebar_hide sidebar_outer_hide wpb-js-composer js-comp-ver-5.0 vc_responsive">
  <div class="top_panel_title top_panel_style_1  title_present scheme_light">
    <div class="top_panel_title_inner top_panel_inner_style_1  title_present_inner">
      <div class="content_wrap">
        <h1 class="page_title">
          Quienes Somos
        </h1>
      </div>
    </div>
  </div>
  <div class="page_content_wrap page_paddings_no">
    <div class="content_wrap">
      <div class="content">
        <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-23 page type-page status-publish hentry">
          <section class="post_content" itemprop="articleBody">
            <div class="vc_row wpd_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 10px">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 0.3em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                    <figure class="sc_image  sc_image_shape_square margin_bottom_small">
                      <img src="assets/logo-quienes.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column_inner">
                  <div class="wpd_wrapper">
                    <h2 class="sc_title sc_title_regular margin_top_tiny-">BASAK</h2>
                    <h4 class="sc_title sc_title_regular" style="font-weight:400;">
                      Acrónimo en latín
                      <p></p>
                      <p>
                        B: Bene estare (bienestar)
                        <br>
                        A: Auditare (ayuda)
                        <br>
                        S: Salus (salud)
                        <br>
                        A: Aetas (vida)
                        <br>
                        K: Konstitutum (Compromiso)
                      </p>
                    </h4>
                    <div class="vc_empty_space">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 3.1em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1473435558335" data-vc-full-width="true" data-vc-full-width-init="true" style="position: relative; left: -125px; box-sizing: border-box; width: 1280px; padding-left: 125px; padding-right: 125px;">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div id="sc_services_1126426849_wrap" class="sc_services_wrap">
                      <div id="sc_services_1126426849" class="sc_services sc_services_style_services-1 sc_services_type_images  margin_top_huge margin_bottom_huge" style="width=100%;">
                        <h2 class="sc_services_title sc_item_title sc_item_title_without_descr">Objetivo</h2>
                        <div class="sc_services_descr sc_item_descr">
                          Crear una prevención primaria con una comunicación nacional y hasta internacional
                        </div>
                        <div class="sc_columns columns_wrap">
                          <div class="column-1_3 column_padding_bottom">
                            <div id="sc_services_1126426849_1" class="sc_services_item sc_services_item_1 odd first">
                              <div class="sc_services_item_featured post_featured">
                                <div class="post_thumb" data-title="Mejorar la calidad de vida mediante atención, consultoría emocional y psicológica">
                                  <a class="hover_icon hover_icon_link">
                                    <img class="wp-post-image" src="assets/2008-donation.png" alt="2008-donation.png" width="256" height="<256></256>">
                                  </a>
                                </div>
                              </div>
                              <div class="sc_services_item_content">
                                <h4 class="sc_services_item_title">
                                  <a>
                                    Mejorar la calidad de vida mediante atención, consultoría emocional y psicológica
                                  </a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="column-1_3 column_padding_bottom">
                            <div id="sc_services_1126426849_2" class="sc_services_item sc_services_item_2 even">
                              <div class="sc_services_item_featured post_featured">
                                <div class="post_thumb" data-title="Programas de prevención y tratamiento impartidos por un grupo de especialistas preocupados por la evolución humana">
                                  <a class="hover_icon hover_icon_link">
                                    <img class="wp-post-image" src="assets/2009-group.png" alt="2009-group.png" width="256" height="<256></256>">
                                  </a>
                                </div>
                              </div>
                              <div class="sc_services_item_content">
                                <h4 class="sc_services_item_title">
                                  <a>
                                    Programas de prevención y tratamiento impartidos por un grupo de especialistas preocupados por la evolución humana
                                  </a>
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="column-1_3 column_padding_bottom">
                            <div id="sc_services_1126426849_3" class="sc_services_item sc_services_item_3 odd">
                              <div class="sc_services_item_featured post_featured">
                                <div class="post_thumb" data-title="Conferencias y talleres para la prevención de adicciones en atención a escuelas y sociedad en general">
                                  <a class="hover_icon hover_icon_link">
                                    <img class="wp-post-image" src="assets/2007-teamwork.png" alt="2007-teamwork.png" width="256" height="<256></256>">
                                  </a>
                                </div>
                              </div>
                              <div class="sc_services_item_content">
                                <h4 class="sc_services_item_title">
                                  <a>
                                    Conferencias y talleres para la prevención de adicciones en atención a escuelas y sociedad en general
                                  </a>
                                </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="vc_empty_space" style="height: 1em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1507766718331 scheme_dark" style="position: relative; left: -125px; box-sizing: border-box; width: 1280px; padding-left: 125px; padding-right: 125px;">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 1em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                    <h2 class="sc_title sc_title_divider sc_align_center" style="text-align:center;font-weight:700;">
                      <span class="sc_title_divider_before"></span>
                      <p></p>
                      <p style="text-align: center;"> Nuestro Organigrama</p>
                      <p>
                        <span class="sc_title_divider_after"></span>
                      </p>
                    </h2>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                      <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <h4 class="sc_title sc_title_underline sc_align_center" style="text-align:center;font-weight:600;">
                              Elsa García
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <h4 class="sc_title sc_title_underline sc_align_center" style="text-align:center;font-weight:600;">
                              Brenda Hernández
                            </h4>
                          </div>
                        </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-4">
                        <div class="vc_column-inner">
                          <div class="wpb_wrapper">
                            <h4 class="sc_title sc_title_underline sc_align_center" style="text-align:center;font-weight:600;">
                              Fuzz García García
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="vc_empty_space" style="height: 3em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
</body>
