<body class="page-template-default page page-id-23 charity_is_hope_body body_style_wide top_style_header_1 body_filled article_style_stretch layout_single-standard template_single-standard top_panel_show top_panel_above sidebar_hide sidebar_outer_hide wpb-js-composer js-comp-ver-5.0 vc_responsive">
  <div class="top_panel_title top_panel_style_1  title_present scheme_light">
    <div class="top_panel_title_inner top_panel_inner_style_1  title_present_inner">
      <div class="content_wrap">
        <h1 class="page_title">
          Nuestros Programas
        </h1>
      </div>
    </div>
  </div>
  <div class="page_content_wrap page_paddings_no">
    <div class="content_wrap">
      <div class="content">
        <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-23 page type-page status-publish hentry">
          <section class="post_content" itemprop="articleBody">
            <div class="vc_row wpd_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 10px">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpd_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 0.3em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                    <figure class="sc_image  sc_image_shape_square margin_bottom_small">
                      <img src="assets/logo-quienes.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 3.1em">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="text-center">"El veneno no es el antidoto"</h2>
                    <h4 class="text-center">Traget</h4>
                    <p>Adolescentes</p>
                    <h4 class="text-center">Duración</h4>
                    <p>12 meses</p>
                    <h4 class="text-center">Objetivos de la campaña</h4>
                    <p>Prevenir adicciones con una campaña orgánica, única y dirigida para adolescentes.
                      Se ha comprobado que las campañas de comunicación masivas dan resultados mínimos,
                      porque falta canalizar de manera correcta el problema, faltan alternativas de salud,
                      así como actividades y sobretodo un seguimiento al tratamiento de cada adolecente para corregir
                      la deformación de nuestra sociedad.</p>
                  </div>
                </div>
                <div class="vc_empty_space" style="height:1em">
                  <span class="vc_empty_space_inner"></span>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1473435558335" data-vc-full-width="true" data-vc-full-width-init="true" style="position: relative; left: -125px; box-sizing: border-box; width: 1280px; padding-left: 125px; padding-right: 125px;">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="text-center">"Lo que no has de ver"</h2>
                    <h4 class="text-center">Traget</h4>
                    <p>Adolescentes</p>
                    <h4 class="text-center">Duración</h4>
                    <p>9 meses</p>
                    <h4 class="text-center">Objetivos de la campaña</h4>
                    <p>	Crear consciencia sobre lo fácil que es respetar y lo dañino que puede ser juzgar.
	                      Demostrar por medio de situaciones reales lo grave que es ser discriminado.
                        Crear una comunidad que brinde el apoyo, fuerza y soluciones a otro adolescente, para enfrentar un estas situaciones e impedirlas.
                    </p>
                  </div>
                  <div class="vc_empty_space" style="height:1em">
                    <span class="vc_empty_space_inner"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <h2 class="text-center">"Abre los ojos, pide ayuda"</h2>
                    <h4 class="text-center">Traget</h4>
                    <p>Padres de familia</p>
                    <h4 class="text-center">Duración</h4>
                    <p>12 meses</p>
                    <h4 class="text-center">Objetivos de la campaña</h4>
                    <p>	Objetivo de campaña: Campaña 100% tradicional que tiene como objetivo difundir masivamente información desconocida pero muy útil: INDICADORES DE UN PERFIL ADICTIVO.
                    Facilitar a los familiares la información y canalización.
                    </p>
                  </div>
                </div>
                <div class="vc_empty_space" style="height:1em">
                  <span class="vc_empty_space_inner"></span>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
  <div class="top_panel_title top_panel_style_1  title_present scheme_light">
    <div class="top_panel_title_inner top_panel_inner_style_1  title_present_inner">
      <div class="content_wrap">
        <h1 class="page_title">
          Tambien Ofrecemos
        </h1>
      </div>
    </div>
  </div>
  <div class="page_content_wrap page_paddings_no">
    <div class="content_wrap">
      <div class="content">
        <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-23 page type-page status-publish hentry">
          <section class="post_content" itemprop="articleBody">
            <div class="vc_row wpd_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 10px">
                      <span class="vc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <ol type="1">
                      <li id="list" *ngFor="let item of items">
                        {{ item }}
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="vc_empty_space" style="height:1em">
                  <span class="vc_empty_space_inner"></span>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
</body>
