<!--The content below is only a placeholder and can be replaced.-->
<div class="top_panel_wrap_inner top_panel_inner_style_1 top_panel_position_above">
    <div class="top_panel_middle top_panel_wrap">
      <div class="content_wrap">
        <div class="contact_logo">
        </div>
        <div class="contact_button">
          <button class="first_button" routerLink="/donar" >DONA HOY</button>
          <button class="second_button" type="submit">SE UN VOLUNTARIO</button>
        </div>
        <div class="contact_socials">
          <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
            <div class="sc_socials_item">
              <a href="https://facebook.com/basakfundacion/" class="social_icons social_facebook" target="_blank">
                <span class="icon-facebook"></span>
              </a>
            </div>
            <div class="sc_socials_item">
              <a href="https://twitter.com" class="social_icons social_twitter" target="_blank">
                <span class="icon-twitter"></span>
              </a>
            </div>
            <div class="sc_socials_item">
              <a href="https://youtube.com" class="social_icons social_youtube" target="_blank">
                <span class="icon-youtube"></span>
              </a>
            </div>
            <div class="sc_socials_item">
              <a href="https://google.plus" class="social_icons social_gplus" target="_blank">
                <span class="icon-google-plus"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-menu></app-menu>
<router-outlet></router-outlet>
<div class="copyright_wrap copyright_style_socials  scheme_original">
  <div class="copyright_wrap_inner">
    <div class="content_wrap">
      <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
        <div class="sc_socials_item">
          <a href="https://facebook.com/basakfundacion/" class="social_icons social_facebook" target="_blank">
            <span class="icon-facebook"></span>
          </a>
        </div>
        <div class="sc_socials_item">
          <a href="https://twitter.com" class="social_icons social_twitter" target="_blank">
            <span class="icon-twitter"></span>
          </a>
        </div>
        <div class="sc_socials_item">
          <a href="https://youtube.com" class="social_icons social_youtube" target="_blank">
            <span class="icon-youtube"></span>
          </a>
        </div>
        <div class="sc_socials_item">
          <a href="https://google.plus" class="social_icons social_gplus" target="_blank">
            <span class="icon-google-plus"></span>
          </a>
        </div>
      </div>
      <div class="copyright_text">
        <p>
          <a href="http://basak.org.mx">BASAK</a>
           © 2018 Todos los derechos reservador.
          <a href="http://basak.org.mx"></a>
          y
          <a href="http://basak.org.mx">Política de Privacidad</a>
        </p>
      </div>
    </div>
  </div>
</div>
