/* .esgbox-margin {
 margin-right:0px;
}


img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
} */

  .columna {
    width: 33%;
    display: inline-block;
    padding: 40px 0px;
    color: gray;
  }
  body {
   font-family:"Lato",sans-serif;
   font-size:15px;
   font-weight:400;
   line-height:1.65em
  }
