<body class="page-template-default page page-id-27 charity_is_hope_body body_style_wide top_style_header_1 body_filled article_style_stretch layout_single-standard template_single-standard scheme_light top_panel_show top_panel_above sidebar_hide sidebar_outer_hide wpb-js-composer js-comp-ver-5.0 vc_responsive">
  <div class="body_wrap">
    <div class="page_wrap">
      <div class="top_panel_title top_panel_style_1  title_present scheme_light">
				<div class="top_panel_title_inner top_panel_inner_style_1  title_present_inner">
					<div class="content_wrap" align="center">
						<h1 class="page_title">Como Ayudar</h1>
					</div>
				</div>
			</div>
      <div class="page_content_wrap page_paddings_no">
        <div class="content_wrap">
          <div class="content">
            <article class="itemscope post_item post_item_single post_featured_default post_format_standard post-27 page type-page status-publish hentry" itemscope="" itemtype="http://schema.org/Article">
              <section class="post_content" itemprop="articleBody">
                <div class="vc_row wpb_row vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
          	            <div class="wpb_text_column wpb_content_element ">
          		            <div class="wpb_wrapper">
          			            <p>
                              <strong>La asociación Basak agradece profundamente a sus donantes y auspiciantes por su apoyo. Con su ayuda, Basak logra ayudar a los jóvenes y familias de todo el país.</strong>
                            </p>
                            <ul>
                            <li>Prevención</li>
                            <li>Capacitación</li>
                            <li>Asesorías</li>
                            <li>Alianzas con instituciones y otras osc´s</li>
                            <li>Promoción y otras campañas de sensibilización</li>
                            </ul>
                            <p>La fundación Basak existe en gran medida gracias a la visión y compromiso de nuestro equipo, sin embrago los pasos más grandes los damos con tu apoyo, tu ayuda y donaciones. Nosotros y miles de jóvenes estamos muy agradecidos por tu ayuda.</p>
                      		</div>
                      	</div>
                        <div class="vc_empty_space" style="height: 25px">
                          <span class="vc_empty_space_inner"></span>
                        </div>
                        <div id="sc_call_to_action_70591466" class="sc_call_to_action sc_call_to_action_style_2" style="width:100%;">
                          <!-- <div class="sc_call_to_action_info"> -->
                            <h1 class="sc_call_to_action_title sc_item_title sc_item_title_without_descr text-center mb-3" style="font-size: 2.5em;">¿Cómo puedes ayudar?</h1>
                            <div class="text-center text-dark">Con tu donativo, podrás hacer la diferencia y crear un mejor futuro para todos. Tu apoyo económico se destinará a nuestros programas de comunicación para informar formas de prevenir, para alcanzar todos los segmentos económicos y población de México.
                                Al comprar nuestros productos ayudas a la apertura de más centros de desarrollo humano y así reforzamos las emociones a quienes más necesita .
                                Necesitamos voluntarios para la realización de nuestros programas, ¡acércate a nosotros!.</div>
                          <!-- </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid">
                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div id="sc_form_839094657_wrap" class="sc_form_wrap">
                          <div id="sc_form_839094657" class="sc_form sc_form_style_form_2 margin_top_huge margin_bottom_huge">
                            <div class="sc_columns columns_wrap">
                              <div class="sc_form_address column-2_5" style="float: left;">
                        				<h4 class="info_title">Información de Contacto</h4>
                        				<div class="sc_form_address_field">
                        					<span class="sc_form_address_label">Dirección:</span>
                        					<span class="sc_form_address_data">Niño Perdido 5116</span>
                        				</div>
                        				<div class="sc_form_address_field">
                        					<span class="sc_form_address_label">Horario:</span>
                        					<span class="sc_form_address_data">Las 24 horas del día a tu servicio</span>
                        				</div>
                        				<div class="sc_form_address_field">
                        					<span class="sc_form_address_label">Teléfono:</span>
                        					<span class="sc_form_address_data">+52 (55) 5555-5555</span>
                        				</div>
                        				<div class="sc_form_address_field">
                        					<span class="sc_form_address_label">Email:</span>
                        					<span class="sc_form_address_data">dona@basak.org.mx</span>
                        				</div>
                        				<h4 class="info_title_des">Información</h4>
                                <div class="sc_form_descr">Gracias por querer ayudarnos con nuestra labor, porfavor llena la forma de contacto y un representante de BASAK se comunicará contigo.</div>
                        				<h4 class="info_title_soc">Síguenos</h4>
                                <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_twitter">
                                      <span class="icon-twitter"></span>
                                    </a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_facebook">
                                      <span class="icon-facebook"></span>
                                    </a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_youtube">
                                      <span class="icon-youtube"></span>
                                    </a>
                                  </div>
                                  <div class="sc_socials_item">
                                    <a href="#" target="_blank" class="social_icons social_gplus">
                                      <span class="icon-gplus"></span>
                                    </a>
                                  </div>
                                </div>
                        			</div>
                              <div class="sc_form_fields column-3_5">
                        				<form id="sc_form_839094657_form" class="sc_input_hover_default inited" data-formtype="form_2" method="post" action="http://basak.org.mx/wp-admin/admin-ajax.php">
            										  <div class="sc_form_info">
                        						<div class="sc_form_item sc_form_field label_over">
                                      <input id="sc_form_username" name="username" placeholder="Nombre *" aria-required="true" type="text">
                                    </div>
                        						<div class="sc_form_item sc_form_field label_over">
                                      <input id="sc_form_email" name="email" placeholder="E-mail *" aria-required="true" type="text">
                                    </div>
                        						<div class="sc_form_item sc_form_field label_over">
                                      <input id="sc_form_subj" name="subject" placeholder="Tema" aria-required="true" type="text">
                                    </div>
                        					</div>
                        					<div class="sc_form_item sc_form_message">
                                    <textarea id="sc_form_message" name="message" placeholder="Mensaje" aria-required="true"></textarea>
                                  </div>
                        					<div class="sc_form_item sc_form_button">
                                    <button>Enviar Mensaje</button>
                                  </div>
                        					<div class="result sc_infobox"></div>
                        				</form>
                      			  </div>
                      		  </div>
                      		</div>
                        </div>
                          <div class="vc_empty_space" style="height: 3em">
                            <span class="vc_empty_space_inner"></span>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
  				    </section> <!-- </section> class="post_content" itemprop="articleBody"> -->
  			    </article> <!-- </article> class="itemscope post_item post_item_single post_featured_default post_format_standard post-27 page type-page status-publish hentry" itemscope itemtype="http://schema.org/Article"> -->
            <section class="related_wrap related_wrap_empty"></section>
      		</div> <!-- </div> class="content"> -->
      	</div> <!-- </div> class="content_wrap"> -->
			</div>
    </div>
  </div>
</body>
