<body>
    <h4 class="sc_services_title sc_item_title sc_item_title_without_descr">	Fundación Basak agradece profundamente a sus donantes y<br> auspiciantes por su apoyo. Con su ayuda, Basak logra ayudar a los<br> jóvenes y familias de todo el país.</h4>
      <div class="sc_services_descr sc_item_descr">
        Prevención<br>
        Capacitación<br>
        Asesorías<br>
        Alianzas con instituciones y otras osc´s<br>
        Promoción y otras campañas de sensibilización<br>
          <br><br>
        Fundación Basak existe gracias a la visión y compromiso de nuestro equipo, sin embrago los pasos más grandes los damos con tu apoyo, tu ayuda y donaciones. Nosotros y miles de jóvenes estamos muy agradecidos por tu ayuda.
      </div>
          <h2 class="sc_services_title sc_item_title sc_item_title_without_descr">¿Cómo puedes ayudar?</h2>
            <div class="sc_services_descr sc_item_descr">
              Con tu donativo, podrás hacer la diferencia y crear un mejor futuro para todos.<br>
              Tu apoyo económico se destinará a nuestros programas de comunicación para informar formas de prevenir, para alcanzar todos los segmentos económicos y población de México.<br>
              Al comprar nuestros productos ayudas a la apertura de más centros de desarrollo humano y así reforzamos las emociones a quienes más necesita .<br>
              Necesitamos voluntarios para la realización de nuestros programas, ¡acércate a nosotros!.
            </div>
</body>
