.vc_custom_1507765730350 {

    background-image: url(assets/ayudemos.jpg?id=860) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}
